/*Theme contents*/

.themecolor{
	/*Theme color of the entire site except for the logo which has to be changed manually : class .logo*/
	
	/*color: #af002a !important; */
	/*Alabama crimson*/

	/*color: #4c516d !important;*/
	/*Independence*/

	/*color: #008ecc !important;*/
	/*Olympic Blue*/

	color: #1d2951 !important;
	/*Space*/

	/*color: #0e4d92 !important;*/
	/*Yale*/
}

/*Selection. Match the theme color here as well*/
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #1d2951;
}

::selection {
  color: white;
  background: #1d2951;
}

/*Top Logo stuff*/
.logo{
	font-family: aileron;
	font-size: 72px;
	color: #1d2951;
	/*background: -webkit-linear-gradient(#07AAE9, #ED1C24);*/
	/*background: url(../ss.jpg);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;*/
}

/*Theme contents end*/


/*Font Stuff*/
/*@font-face{
	font-family: fontpratbold;
	src: url(../fonts/SF-Pro-Display-Heavy.otf);
}
@font-face{
	font-family: fontpratmedium;
	src: url(../fonts/SF-Pro-Text-Bold.otf);
}*/
@font-face{
	font-family: fontpratregular;
	src: url(../fonts/SF-Pro-Display-Semibold.woff) format("woff");
}
@font-face{
	font-family: fontpratlight;
	src: url(../fonts/SF-Pro-Display-Regular.woff) format("woff");
}
@font-face{
	font-family: aileron;
	src: url(../fonts/Aileron-BlackItalic.woff) format("woff");
}
/*Font Stuff ends*/

/*Blurred Nav*/
.box {
	background-color: rgba(255, 255, 255, 0.7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

/*Padding due to fixed nav*/
body{
	padding-top: 180px;
}

/*Custom text*/
.pagetitle{
	/*Largest text*/
	font-size: 100px; text-align: center; font-family: fontpratregular;
}
.nmtext{
	/*Second largest text*/
	font-size: 40px; font-family: fontpratlight;
}
.rgtext{
	/*Third largest text*/
	font-size: 20px; font-family: fontpratlight;
}
.smtext{
	font-size: 17px; font-family: fontpratlight;
}
/*Custom text end*/

.nounderline {
  text-decoration: none !important
}
